@font-face {
  font-family: գրապալատ;
  src: url('gheagrpalatreg-webfont.woff2') format('woff2');
  font-display: swap;
}

body {
  font-family: գրապալատ, sans-serif;
  margin: 0 auto;
  max-width: 39em;
}

hr {
    border: 1px solid black;
    margin: 1.5em;
}

h1, h2, h3 {
    text-align: center;
}
